.quiz-container {
  margin-top: 20px;
  text-align: center;
  position: fixed;
  z-index: 999;
  height: 80%;
  width: 80%;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.start-quiz-button {
  background-color: #0E6531;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}