<div *ngFor="let question of questions;let i = index">
<form [formGroup]="formGroup[i]">
<mat-card class="card">
    <mat-card-title>Question {{i+1}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
      <p>{{question.question}}</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
        <mat-radio-group
        class="radio-group" name="{{i}}" formControlName="ctrl">
        <mat-radio-button class="radio-button" *ngFor="let option of question.options" [value]="option">
          {{option}}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-actions>
  </mat-card>
</form>
</div>
  <div class="submit-container">
    <button class="submit-button" mat-raised-button color="primary" (click)="submitQuiz()">Submit</button>
  </div>
